// used https://graf1x.com/list-of-colors-with-color-names/

$transparent: transparent;
$white: #fff;
$white-1: #ccc;
$black: #000;
$gray-1: #D3D3D3;
$gray-2: #ddd;
$gray-3: #e9ebfd;
$blue-1: #191532;
$blue-2: #383164;
$blue-3: #5D558A;
$red: #ff0000;
$red-1: #C31616;
$yellow: #ffff00;
$yellow-1: #FBD652;
$yellow-2: #f8d452;
$yellow-3: #f4dd4c;

$bg-color: lighten($black, 98%);

